# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/
*.log

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Model files (optional)
*.h5
*.hdf5
*.ckpt
*.pt

# Misc
*.tmp
*.bak
*.swp
